.header {
    padding-top: 10px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li, a {
    list-style: none;
    text-decoration: none;
}

.nav {
    margin: 0;
    padding: 0;

    &__list {
        display: flex;
        margin-left: -315px;
    }

    &__item + &__item {
        margin-left: 33px;
    }

    &__link {
        color: #83888F;
        font-family: "Barlow";
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        text-transform: uppercase;

        &:hover {
            color: #333D4B;
        }
    }
}

.header__mobilni {
    display: none;
}

.nav__button {
    display: none;
}

 @media only screen and (max-width:618px) {
     .nav {
         display: none;
     }

     .nav__button {
         display: block;
     }
 }